<!-- _form.html.erb -->
<%= form_for @team do |f| %>
  <% if @team.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@team.errors.count, "error") %>
       prohibited this user from being saved:</h2>
     <ul>
     <% @team.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
  <% end %>
  <p class="form-group">
    <%= f.label :name, "Team Name" %>
    <%= f.text_field :name, class: 'form-control' %>
  </p>
  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>
<% end %>