<!-- show.html.erb -->
<h2><%= @team.name %></h2>

<ol id="teammates">
  <% @team.users.each do |user| %>
    <li><%= user.name %> <%= user.captain? ? "- #{user.email} (captain)" : "" %> <%= user.id == current_user.id ? "(you)" : "" %>
      <% if @team.id == current_user.team_id %>
        <ul>
          <li>HP: <%= user.hp %></li>
          <li>Attack: <%= user.attack_power %></li>
          <li>Heal: <%= user.heal_power %></li>
        </ul>
      <% end %>
    </li>
  <% end %>
</ol>
<% unless current_team %>
  <%= button_to "Join team", @team, {method: :put} %>
<% end %>
