<!-- new.html.erb -->
<h1>Sign in</h1>
<%= form_for :signin, method: "POST" do |f| %>
  <p class="form-group">
    <%= f.label :name, "Username" %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </p>

  <p class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control' %>
  </p>
  <%= f.submit "Sign in", class: 'btn btn-primary' %>
<% end %>