<!-- edit.html.erb -->
<h2>Make Your Move, <%= current_user.name %>!</h2>
<% in_game_only do %>
  <%= "Sorry, You have been eliminated" if current_user.eliminated? %>
  <%= render "form" unless current_user.eliminated? %>
<% end %>
<h3>Summary for <%= Date.today %></h3>
<% if current_game.teams.alive.size <= 1 %>
  <%= current.game.teams.alive.size == 1 ? "current.game.teams.alive[0].name wins!" : "No teams are left standing.  Draw game." %>
  GAME OVER

<% end %>
<ul>
<% current_game.teams.each do |team| %>
  <li style="margin-bottom:20px">
    <strong>
      <%= team.name %> <%= current_team.id == team.id ? "(your team)" : "(enemy team)" %>
    </strong>
    <ol>
      <% team.users.each do |user| %>
        <li><%= user.name  %><%= "- #{user.email}" + " (captain)" if user.captain? %>
          <ul>
            <% if current_team.id == team.id %>
              <li>HP: <%= user.hp %></li>
              <li>Attack Power: <%= user.attack_power %></li>
              <li>Heal Power: <%= user.heal_power %></li>
            <% end %>
            <li>∆HP: <%= user.hp - user.starting_hp %> <%= "(ELIMINATED)" if user.eliminated? %></li>
          </ul>
        </li>
      <% end %>
    </ol>
  </li>
<% end %>
</ul>