<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this uer from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>	  
  <p>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, "Email" %><br>
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :password, "Password" %><br>
    <%= f.password_field :password %>  
  </p>

  <p>
    <%= f.label :password_confirmation, "Password Confirmation" %><br>
    <%= f.password_field :password_confirmation %>
  </p>

  <p><strong>For the next section, x+y+z must be less than or equal to 10.  All 3 numbers must be non-negative.</strong></p>

  <p>
    <%= f.label :x, "HP = 100 + (10 * x), where x is number below" %><br>
    <%= f.number_field :x, placeholder:"x" %>
  </p>

  <p>
    <%= f.label :y, "Attack Power = 20 + y, where y is number below" %><br>
    <%= f.number_field :y, placeholder:"y" %>
  </p>

  <p>
    <%= f.label :z, "Heal Power = 20 + z, where z is number below" %><br>
    <%= f.number_field :z, placeholder:"z" %>
  </p>


  <p>
    <%= f.submit @user.new_record? ? "Sign up" : "Update Profile"%>
  </p>

<% end %>
